extends layout
block content
    .main-container
        nav
            h3 Menu
            a.active(href='/') Home
            a(href='/wallet') my wallet
            a(href='/my-challenges') my challenges
            a(href='/dead-challenges') dead challenges
            .special-links
                a(href='/report') report
                |                 
                a(href='/suggest') suggest
        main
            if challenges && challenges.length > 0
                each challenge, i in challenges
                    .challenge.box-border
                        h3.name #{challenge.challenge_name}
                        span
                            small by #{challenge.creator}
                        span.badge.border
                            if challenge.is_daily
                                | daily
                            else
                                | dated
                        - var h = challenge.deadline.split(":")[0]; //- hours in deadline
                        - var m = challenge.deadline.split(":")[1]; //- minutes in deadline
                        - var timeState = Number(h) >= 12 ? "pm" : "am";
                        - h = Number(h) > 12 ? Number(h) - 12 : h;
                        span.time_deadline.badge.border #{`${h}:${m} ${timeState}`}
                        span.cost.badge.border #{challenge.cost}$
                        .rules.border
                            h3 Rules
                            p #{challenge.rules}
                        .options
                            button(data-id=challenge._id)#join-btn.btn-success.border Join
                            button.btn-ok.border Later
                            button.btn-danger.border Hide
            else
                p(style="text-align: center") no challenges created yet
        aside
            h3 Upcoming Deadlines
            if challenges && challenges.length > 0
                ul
                    each challenge, i in challenges
                        li.border
                            strong #{challenge.challenge_name}
                            br
                            br
                            p
                                | time left: 
                                span.left_time(data-deadline=challenge.deadline)
    a(href="/create").create-btn.box-border

    footer
        a(href='https://muhammadev.surge.sh') created by this man
    script(src="/js/home.js")