extends layout
block content
    .main-container
        nav
            h3 Menu
            a.active.border(href='/') Home
            a.border(href='/wallet') my wallet
            a.border(href='/my-challenges') my challenges
            a.border(href='/dead-challenges') dead challenges
            .special-links
                a(href='/report') report
                |                 
                a(href='/suggest') suggest
        main
            if challenges && challenges.length > 0
                each challenge, i in challenges
                    .challenge.box-border
                        h3.name #{challenge.challenge_name}
                        span
                            small by #{challenge.creator}
                        span.badge.border
                            if challenge.is_daily
                                | daily
                            else
                                | dated
                        span.time_deadline.badge.border #{challenge.deadline}
                        span.cost.badge.border #{challenge.cost}$
                        .rules.border
                            h3 Rules
                            p #{challenge.rules}
                        .options
                            button.btn-success.border Join
                            button.btn-ok.border Later
                            button.btn-danger.border Hide
            else
                p(style="text-align: center") no challenges created yet
        aside
            h3 Upcoming Deadlines
            if challenges && challenges.length > 0
                ul
                    each challenge, i in challenges
                        li.border
                            strong #{challenge.challenge_name}
                            br
                            br
                            p
                                | time left: 
                                span.left_time(data-deadline=challenge.deadline)
                                |  h
    a(href="/create").create-btn.box-border
    include footer
